<style type="text/css">
#s-m-t-tooltip {
    position:absolute;
    margin:15px 10px;
    padding:5px 7px;
    z-index:999999999999;
    font-size:11px;
    color:black;
    line-height:120%;
    border:1px solid #000;
    border-radius:5px;
    max-width:200px;
    box-shadow:3px 3px 5px rgb(0,0,0,0.3);
    font-family:roboto, verdana, sans-serif;
    background:#f3f3f3;}
 
body {
    background:#000;
    font-size:11px;
    line-height:150%;
    font-family:roboto, verdana, sans-serif;
    color:#000;
    background-image: url(http://flightrising.com/images/layout/arcane/bg.jpg);
    background-attachment:absolute;
    background-position:center 0px;
    background-repeat:no-repeat;}
 
a {
    color:#6CDBE7;
    text-decoration:none;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;}
    a:hover {
    color:#555;
    text-decoration:none;}
    b {
    font-weight:700;
    text-decoration:none;}
    i {
    font-style:italic;}
    
#main {
    position:relative;
    display:block;
    z-index:99999999;
    width:950px;
    left:50%;
    border-left:1px solid black;
    border-right:1px solid black;
    margin-left:-476px;}
    
#hud {
    display:block;
    background:#000;
    position:relative;
    top:0px;
    height:155px;
    width:100%;
    padding-top:2px;
    line-height:175%;
    color:#d0d0d0;
    background:url(https://i.imgur.com/bKE8Jkh.png);
    	/*http://flightrising.com/images/layout/arcane/banner.jpg

    	// Mashups by Ecci http://www1.flightrising.com/forums/cc/2287471/1
    	https://s19.postimg.cc/ninaid7mb/The_Training_Ruins.png
    	https://s19.postimg.cc/iv6fhv9oj/starwoodbrook.png*/
    background-attachment:fixed;
    background-position:center top;
    background-size:950px auto;
    background-repeat:no-repeat;}
    .site-header {
    position:relative;
    display:block;
    margin-top:5px;
    margin-left:10px;
    width:235px;
    }
    .site-header img {
    width:235px;}
#site-updates {
    display:block;
    position:absolute;
    text-align:left;
    color:#000;
    right:0px;
    top:0px;
    width:255px;
    height:26px;
    line-height:26px;
    border-bottom-left-radius:5px;
    font-size:10px;
    padding:5px 10px;
	background:rgb(221,215,199);
    border-left:1px solid #000;
    border-bottom:1px solid #000;}
    #site-updates img {
    float:left;
    display:inline-block;
    width:20px;
    margin-top:3px;
    margin-right:5px;}

#user {
    display:block;
    position:absolute;
    right:0px;
    bottom:0px;
    width:275px;
    height:114px;}
    .icon {
    position:absolute;
    display:block;
    z-index:20;
    height:70px;
    left:10px;
    top:10px;
	background:white;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;}
    .username {
    position:absolute;
    top:-1px;
    right:-1px;
    left:0px;
  	border-top-left-radius:10px;
  	border:1px solid #000;
    padding:10px;
    padding-left:90px;
    color:#edd49a;
    background:#5b0e0e;
    font-weight:bold;
    font-size:16px;}
    	.menu {
    	display:block;
    	position:absolute;
    	left:155px;
    	top:10px;
    	font-size:11px;
    	cursor:pointer;
    	color:#edd49a;
    	border:1px solid #edd49a;
    	background:maroon;
    	padding:4px;
    	width:8px;
    	height:8px;
    	line-height:8px;
    	text-align:center;
    	font-weight:bold;}
    	.menu:hover {
    	color:maroon;
    	background:white;}
    	.usercontrols {
    	z-index:100000000;
    	display:none;
    	top:10px;
    	left:155px;
    	width:125px;
    	padding:0px 12px;
    	position:absolute;
    	background:#e0e0e0;
    	border:1px solid #aaa;
    	-webkit-border-radius:5px;
    	-moz-border-radius:5px;
    	-o-border-radius:5px;
    	border-radius:5px;}
    	.usercontrols a {
    	font-size:11px;
    	display:block;
    	border-top:1px solid #aaa;
    	padding-top:5px;
    	margin-top:5px;
    	color:#5b0e0e;}
    	.usercontrols a:first-of-type {
    	border-top:none;
    	padding-top:none;
    	margin-top:3px;}
    	.usercontrols a:last-of-type {
    	margin-bottom:10px;}
    	.clickypanel {
    	position:fixed;
    	top:0px;
    	bottom:0px;
    	left:0px;
    	right:0px;
    	display:none;}
    .flight {
    display:block;
    position:absolute;
    right:-61px;
    width:60px;
    top:15px;
    z-index:220;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    transform:rotate(-90deg);}
.stats {
    position:relative;
    height:25px;
    color:black;
   	left:-90px;
   	width:274px;
    font-weight:bold;
    text-align:center;}
    .energy {
    font-size:10px;
    position:relative;
    height:20px;
   	z-index:9999;
    overflow:hidden;
    background:linear-gradient(to left, #3dbf26, yellow, yellow, red);}
    	.unit {
    	display:inline-block;
    	float:left;
    	width:calc(20% - 1px);
    	height:20px;
        border-right:1px solid transparent;}
        .unit.red {
        border-right:1px solid white;}
        .unit.green {
        border-right:none;
        border-left:1px solid white;}
    .bonus {
    position:relative;
   	height:5px;
   	width:274px;
    z-index:100000;}
    	.day {
    	display:inline-block;
    	float:left;
    	width:33.33%;
    	height:5px;}
    	.one {
    	background:#6bc5ff;}
    	.two {
    	background:#addfff;}
    	.three {
    	background:#d6efff;}
.things {
    position:relative;
    display:block;
    margin:5px 0px;}
    .have, .want {
    display:inline-block;
    line-height:25px;
    font-size:10px;}
    .have img, .want img {
    display:inline-block;
    position:relative;
    height:19px;
    margin-right:2px;
    margin-top:3px;
    float:left;}
    .want {
    float:right;
    width:60px;}
    
#status {
    padding:10px 10px 10px 15px;
    line-height:20px;
    height:20px;
    z-index:0;
    font-size:10px;
    border-top:1px solid #000;
    font-weight:bold;
    position:relative;
    color:#edd49a;
    display:block;
    background:#5b0e0e;}
    #status img {
    height:20px;
    float:left;
    display:inline-block;
    position:relative;}
    .nonalert, .alert {
    margin-left:5px;
    float:left;}
    .alert {
    width:18px;
    height:18px;
    line-height:18px;
    text-align:center;
    border:1px solid black;
    background:#cc7608;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;}
    .noms {
    display:block;
    height:20px;
    position:absolute;
    margin-left:132px;
    top:10px;}
    .noms img {
    margin-left:50px;}
    .connect {
    display:inline-block;
    float:right;}
    .connect img {
    margin-left:25px;}
    
.container {
    position:relative;
    z-index:0;
    border-left:1px solid black;
    border-right:1px solid black;
    left:50%;
    margin-left:-476px;
    display:block;
    width:950px;}
#navbar {
	padding:0px 25px;
	width:160px;
    background:rgb(221,215,199);
	position:absolute;
	left:0px;
	height:calc(100% - 40px);}
    .shield {
    background:rgb(221,215,199);}
    #navbar a {
    display:block;
    color:#5b0e0e;
    font-size:12px;
    position:relative;
    font-weight:bold;
    padding-left:17px;}
    #navbar a:hover {
    text-shadow:0px 0px 5px #baa164;}
    .nav-header {
    position:relative;
    z-index:1;
    cursor:pointer;
    line-height:21px;
    margin:20px 0px 2px 0px !important;
    padding-left:0px !important;
    font-weight:bold;
    color:#fff !important;
    text-shadow:0px 0px 1px #5b0e0e, 0px 0px 1px #5b0e0e, 0px 0px 3px #5b0e0e, 0px 0px 2px #5b0e0e;
    font-size:20px !important;}
    .nav-header:hover {
    text-shadow:0px 0px 10px #5b0e0e, 0px 0px 1px #5b0e0e, 0px 0px 3px #5b0e0e, 0px 0px 2px #5b0e0e !important;}
    #navbar a:before, .nav-header:after {
    content:"";
    position:absolute;
    background:#5b0e0e;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;}
    .nav-header:before {
    display:none !important;}
    .nav-header:after {
    top:10px;
    left:0px;
    right:10px;
    z-index:-1;
    height:1px;
    background:linear-gradient(to left, transparent, #5b0e0e);}
    #navbar a:before {
    width:4px;
    height:4px;
    top:50%;
    margin-top:-2px;
    left:7px;
    opacity:0;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%;}
    #navbar a:hover:before {
    opacity:1;}
    
.box {
    position:relative;
    display:block;
    margin:0px 0px 0px 200px;
    padding-bottom:24px;
    width:750px;
    text-align:left;
    font-size:12px;
    background:#fff;
    background-image:url(http://flightrising.com/images/layout/arcane/internal_bg.jpg);
    background-size:cover;}
    .box p, .introduction p {
    position:relative;
    height:auto;
    margin:10px 0px;}
    .box p:last-child, .introduction p:last-child {
    margin-bottom:0px;}
    .box p:first-child, .introduction p:first-child {
    margin-top:0px;}

/* Beginning of White Space */
.lair-nav {
	padding:20px 25px 0px 25px;}
	.lair-nav a {
	color:#000;}
	.lair-nav a:hover {
	color:maroon;}
	.lair-nav a.this {
	color:maroon;
	font-weight:bold;}

.basic-info {
    position:relative;
    background:transparent;
    padding:15px 25px 0px 25px;} 
.dragon-name {
    position:relative;
    font-weight:bold;
    font-size:22px;
    color:maroon;}
    .basic-info .number {
    color:#999;
    font-size:12px;
    font-weight:400;
    position:relative;
    margin-top:5px;
    line-height:15px;}
.data-dots {
	right:25px;
	top:15px;
    border:1px solid #aaa;
    border-radius:5px;
	position:absolute;
    font-weight:bold;
    font-size:12px;
    background:#e0e0e0;
    text-align:left;}
    .data-dot {
    cursor:default;
    display:inline-block;
    position:relative;
    float:left;
    padding:8px 9px;
    height:18px;
    min-width:18px;
    line-height:18px;
    font-size:10px;
    text-align:center;
    border-left:1px solid #aaa;
    margin-left:-1px;
    position:relative;}
    .data-dot.workwithmeman {
    border:none;
    padding-left:10px;}

.dragon {
    height:360px;
	padding:10px 25px 0px 25px;}
	.dragon .you {
	float:left;}
.data {
    line-height:18px;
    font-size:11px;
    margin-left:375px;
    background:#e0e0e0;
    border:1px solid #aaa;
    text-align:left;
    position:relative;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;}
.hungry {
	width:308px;
	margin-top:10px;
    height:40px;
    line-height:40px;
    background:#aaa;
    text-align:left;
    padding-left:15px;
    font-weight:bold;
    z-index:10;
    position:relative;}
    .hungry.not {
    height:20px;
    line-height:20px;
    background:#e0e0e0;}
    .gotmilk {
    position:absolute;
    top:0px;
    right:0px;
    z-index:0;
    height:40px;
    background:#fff;
    width:4%;}
.data-stats {
    position:relative;
    display:block;
    background:transparent;
    width:323px;}
    .col {
   	border:15px solid transparent;
   	border-width:12px 15px;}
    .col td {
    padding:0px 10px 0px 0px;}
    .td-shrink {
   	color:transparent;
   	font-size:1px;
   	height:10px;}

.exalt-link {
	position:absolute;
    text-align:right;
	right:26px;
	height:89px;
	width:330px;
	margin-top:-108px;
    z-index:10;}
    .exalt-link a, .invalid-action {
    display:inline-block;
    padding:4px 11.3px 4px 13px;
    margin-bottom:9px;
    margin-left:5px;
    height:30px;
    font-weight:bold;
    text-align:center;
    line-height:30px;
    color:maroon;
    font-size:12px;
    border:1px solid #aaa;
    background:#e0e0e0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;}
    .invalid-action {
    cursor:default;}
    .exalt-link a:hover {
    background:#aaa;}
    .gencode {
    margin:0px !important;
    width:298px;}

.customize {
    width:700px;
    height:352px;
    margin:10px 25px 18px 25px;}
.custom-box {
    border:1px solid #aaa;
    position:relative;
    width:230px;
    overflow:hidden;
    background:#e0e0e0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;}
.customize-title {
    position:relative;
    font-weight:bold;
    display:block;
    color:#000;
    background:#aaa;
    padding:10px 0px;
    font-size:12px;
    line-height:20px;
    text-align:center;}
    .information-box .customize-title {
    margin-bottom:0px;}
.dress {
    display:inline-block;
    margin-right:15px;
    float:left;}
    .dress img {
    margin:0px;
    cursor:pointer;
    display:inline-block;
    position:relative;
    width:46.75px;}
    .little-title {
    display:block;
    position:relative;
    margin-bottom:10px;
    padding-top:15px;
    font-size:9px;
    text-transform:uppercase;
    text-align:left;
    border-bottom:1px solid #aaa;}
    .skins-img {
    float:none;
    display:block;
    position:relative;}
    
.coli {
    display:inline-block;
    margin-right:15px;
    float:left;
	width:204px;
	height:352px;
    font-size:11px;}
    .coli .little-title {
    padding-top:0px;}
    .coli img {
    width:35px;}
    .stones {
    text-align:center;}
    .coli-stats {
    margin-bottom:15px;
    width:195px;}
    .coli-stats td {
    padding:0px 10px 0px 0px;}

.familiar {
    float:right;}
    .familiar img {
    margin:15px;
    width:200px;}
    .fam-state {
    position:absolute;
    width:100%;
    text-align:center;
    height:40px;
    line-height:40px;
    z-index:10;
    color:#000;}
    .fam-status {
    height:40px;
    border-top:1px solid #aaa;
    width:100%;
    overflow:hidden;}
    .bond-unit {
    width:25%;
    height:40px;
    float:left;
    background:#fff;}
    .bond-unit.love {
    background:#ffc9e5;}
.c-buttons {
    display:block;
    position:relative;
    height:40px;
    width:100%;
    text-align:center;}
    .customize-button {
    display:inline-block;
    position:relative;
    float:left;
    width:50%;
    height:40px;
    line-height:40px;
    background:#e0e0e0;
    font-size:12px;
    font-weight:bold;
    color:maroon;
    border-top:1px solid #aaa;
    cursor:pointer;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;}
    .customize-button:nth-of-type(2) {
    border-left:1px solid #aaa;
    width:calc(50% - 1px);
    float:right;}
    .customize-button:hover {
    background:#aaa;}
    .familiar .c-buttons {
    padding-top:0px;}

.information-box {
    display:block;
    margin:18px 25px 0px 25px;
    overflow:hidden;
    position:relative;
    border:1px solid #aaa;
    background:#e0e0e0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;}
    .information-box .customize-title {
    margin-top:0px;}
    .description {
    padding:15px 20px;
    position:relative;
    line-height:160%;}
.lineage {
	position:relative;
	display:block;
	margin-top:15px;}
.lineage .little-title {
    padding-top:0px;}
    .lineage a {
    display:block;
    font-weight:bold;
    color:#333;}
    .lineage a.what {
    margin-bottom:20px;
    display:inline-block;}
    .lineage a:hover {
    color:maroon;}
.genealogy {
	z-index:99;
	position:relative;
	float:left;
	text-align:center;
	height:265px;
	width:calc(50% - 1px);}
	.genealogy:nth-of-type(2) {
	border-left:3px double #aaa;
	float:right;
	width:calc(50% - 2px);}
.parent {
	z-index:99;
	padding-top:15px;
	position:relative;
	text-align:center;
	width:50%;}
	.parent img {
	width:125px;}
	.parent.dad {
	float:left;
	width:calc(50% - 1px);
	border-right:1px solid #aaa;}
	.parent.mom {
	float:right;}
	.grand {
	width:50%;
	float:left;
	font-size:10px;
	position:relative;}
	.grand img {
	width:60px;}
	.grand .grandma {
	float:right;}
.babies {
	height:235px;
	overflow-y:scroll;
	padding:15px 15px 8px 15px;}
	.hatchling {
	width:101px;
	float:left;
	font-size:10px;
	margin-right:7px;}
	.hatchling:nth-of-type(3n) {
	margin:0px;
	margin-bottom:7px;}
	.hatchling img {
	width:101px;}

.footer {
    display:block;
    position:relative;
    width:910px;
    text-align:center;
    height:40px;
    line-height:20px;
    padding:20px;
    background:#5b0e0e;
    color:white;}
    .footer a {
    color:#baa164;}
    .footer a:hover {
    color:#fff;}
    
</style>
